$def with (work)

<fieldset class="major">
    <div class="formElement">
        <div class="label">
            <label for="about-about">$_("How would you describe this book?")</label>
            <span class="tip">$_("There's no wrong answer here.")</span>
        </div>
        <div class="input">
            <textarea name="work--description" id="about-about" class="markdown" cols="55" rows="5" tabindex="0">$work.description</textarea>
        </div>
    </div>

    $code:
        tags = {}
        for subject in ['subjects', 'subject_places', 'subject_times', 'subject_people']:
            tags[subject] = work[subject] if len(work[subject]) else []

    $:render_template("books/edit/tags", tags)

</fieldset>
